* {
	font-size: 14px;
	margin: 0;
	font-family: "Microsoft Yahei", Arial, Helvetica;
	
}
body {
	color: #666666;
}
a {
	text-decoration: none;
}
ul {
	padding-left: 10px;
	list-style: none;
}
h3 {
	font-weight: normal;
	color: #005eaa;
	font-size: 18px;
	margin: 5px 0 10px 0;
}
h4 {
	font-weight: normal;
	color: #006dc5;
	font-size: 16px;
	margin: 2px 0 5px 0;
}
h5 {
	font-weight: normal;
	color: #0078d8;
	font-size: 14px;
	margin-bottom: 2px;
}
#navi {
	background: #0078d8;
}
#navi ul, #navi a {
	width: 960px;
	height: 50px;
	margin: 0 auto;
	color: #ffffff;
	padding-left: 0;
	line-height: 50px;
	text-align: right;
}
#navi li {
	color: #ffffff;
	display: inline-block;
	margin-left: 10px;
}
.container {
	width: 960px;
	margin: 40 auto;
}
.download_button {
	display: block;
	width: 150px;
	height: 30px;
	border-radius: 5px;
	background: #0064B4;
	border-width: 1px;
	border-color: #0064B4;
	color: #ffffff;
	text-align: center;
	line-height: 30px;
	margin-top: 5px;
}
input {
	font-size: 14px;
}
input[type = "submit"] {
	margin-top: 10px;
	padding: 0;
	font-size: 14px;
	border: none;
	width: 150px;
	height: 30px;
	background: #0064B4;
	border-radius: 5px;
	color: #ffffff;
}
table {
	text-align: center;
	border-collapse:collapse;
	border:none;
}
td {
	border:solid #aaa 1px;
	padding: 3px 5px;
}