.score {
	color: #999999;
	font-size: 12px;
	margin-top: 2px;
	margin-bottom: 10px;
	display: block;
}
.time {
	float: right;
	color: #999999;
}
#allApps li {
	margin-bottom: 10px;
}

#left, #right {
	display: inline-block;
	vertical-align: text-top;
}
#left {
	width: 700px;
}
#right {
	background: #f4f4f4;
	border: 1px #e8e8e8 solid;
	font-size: 12px;
	color: #ff0543;
	margin-left: 30px;
	padding: 20px;
}
#right h4{
	color: #008bfb;
	margin-bottom: 10px;
}