<html>
	<head>
		<title>EvaDroid</title>
		<link rel="stylesheet" type="text/css" href="css/app.css">
		<link rel="stylesheet" type="text/css" href="css/general.css">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	</head>
	<body>
		<div id="navi">
			<ul>
				<li><a href="">首页</a></li>
				<li><a href="explore.jsp">发现</a></li>
				<li><a href="">设置</a></li>
				<li>用户名，1222分</li>
				<li><a href="">退出</a></li>
			</ul>
		</div>
		<div class="container">
			<div><img src="img/ic_launcher.png">descriptiontiontiontiontion</div>
			<div>taskdescrption......<a href="">下载</a></div>
			<div>评分</div>
		</div>
	</body>
</html>