<%@ page import="evadroid.model.User" pageEncoding="UTF-8"%>
<html>
	<head>
		<title>EvaDroid</title>
		<link rel="stylesheet" type="text/css" href="css/tester.css">
		<link rel="stylesheet" type="text/css" href="css/general.css">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	</head>
	<body>
		<div id="navi">
			<ul>
				<li><a href="">首页</a></li>
				<li><a href="explore.jsp">发现</a></li>
				<li><a href="">设置</a></li>
				<li>用户名，1222分</li>
				<li><a href="">退出</a></li>
			</ul>
		</div>
		<div id="myrecord" class="container">
			<ul>
				<li>
					<a href="">我的app</a><span class="time">2014-10-10</span><br/>
					<span class="score">评分:3</span>
				</li>
				<li>
					<a href="">我的app</a><span class="time">2014-10-10</span><br/>
					<span class="score">评分:3</span>
				</li>
			</ul>
		</div>
	</body>
</html>